# Node build artifacts
node_modules
npm-debug.log
yarn-error.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml
client/public/asset-manifest.json
client/public/bundle.js
client/public/bundle.js.map

