._29GnnP9u4MHPisnCgSuuPq {
  z-index: 9999;
  position: fixed;
  padding: 4px;
  width: 320px;
  box-sizing: border-box;
  color: #fff; }
  ._38UpVfgFhIsNuQpzkxzix- {
    top: 1em;
    left: 1em; }
  .LZkr06v1vhH8boFWOxy_c {
    top: 1em;
    left: 50%;
    margin-left: -160px; }
  ._1NjTgtsaxW6mbTYnvV37E6 {
    top: 1em;
    right: 1em; }
  ._2-f582IyM2jpTtzXTFIj1O {
    bottom: 1em;
    left: 1em; }
  ._3PZJQdG6KUwhDNUnldSzat {
    bottom: 1em;
    left: 50%;
    margin-left: -160px; }
  ._1RY-LSeGEGJvloSg2eFyyu {
    bottom: 1em;
    right: 1em; }

@media only screen and (max-width: 480px) {
  ._29GnnP9u4MHPisnCgSuuPq {
    width: 100vw;
    padding: 0;
    left: 0;
    margin: 0; }
    ._38UpVfgFhIsNuQpzkxzix-, .LZkr06v1vhH8boFWOxy_c, ._1NjTgtsaxW6mbTYnvV37E6 {
      top: 0; }
    ._2-f582IyM2jpTtzXTFIj1O, ._3PZJQdG6KUwhDNUnldSzat, ._1RY-LSeGEGJvloSg2eFyyu {
      bottom: 0; }
    ._3DWN9GG03WtRF-WC-hL40m {
      right: 0;
      left: initial; } }

._2Iy1DQK_IQiR1wOtETlKW3 {
  position: relative;
  min-height: 64px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 8px;
  border-radius: 1px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  max-height: 800px;
  overflow: hidden;
  font-family: sans-serif;
  cursor: pointer;
  direction: ltr; }
  ._2zljDBHVkLgoic7JdpLm2j {
    direction: rtl; }
  ._2gQgI3UoiwlGjqfdLXn8jH {
    background: #fff;
    color: #aaa; }
  ._2usc-PvhkhymCc6m4GNsHz {
    background: #3498db; }
  ._2_H9iOKdKfp1cciPs1e0nh {
    background: #07bc0c; }
  ._2_D6eQHUeNueX4IrCGIE9H {
    background: #f1c40f; }
  ._1q6deRUjHFxxke5sc8wFSD {
    background: #e74c3c; }
  ._4GdFTHSm5DTJSiSXTAxL6 {
    margin: auto 0;
    -ms-flex: 1;
        flex: 1; }

@media only screen and (max-width: 480px) {
  ._2Iy1DQK_IQiR1wOtETlKW3 {
    margin-bottom: 0; } }

.F-uXpFo-PcY3StJj-hYjD {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease;
  -ms-flex-item-align: start;
      align-self: flex-start; }
  ._1p7mbVDgkaey1kKqECuZcA {
    color: #000;
    opacity: 0.3; }
  .F-uXpFo-PcY3StJj-hYjD:hover, .F-uXpFo-PcY3StJj-hYjD:focus {
    opacity: 1; }

@keyframes _2R-azVRzFH9DjRwTMplj1F {
  0% {
    width: 100%; }
  100% {
    width: 0; } }

._3ty0BtUTkxTFkfP14FeO-R {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;
  z-index: 9999;
  opacity: 0.7;
  animation: _2R-azVRzFH9DjRwTMplj1F linear 1;
  background-color: rgba(255, 255, 255, 0.7); }
  ._1GCYynnORX5aPcmBzmP9OT {
    right: 0;
    left: initial; }
  .Dfo0pG_w46PFRE5picVoY {
    background: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55); }

@keyframes O1sfEaZq-EkVorxkvPJ1y {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0); }
  75% {
    transform: translate3d(10px, 0, 0); }
  90% {
    transform: translate3d(-5px, 0, 0); }
  to {
    transform: none; } }

@keyframes _2jjnHUox5R6uqOMDhLicyi {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }

@keyframes _23GrEFb0uLdkUnyxJ9kGIj {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0); }
  75% {
    transform: translate3d(-10px, 0, 0); }
  90% {
    transform: translate3d(5px, 0, 0); }
  to {
    transform: none; } }

@keyframes _3wtKWyxI3iQJMOo9zTmJmI {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }

@keyframes _3sVYrLHUBMKp-pTv3TM1db {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  75% {
    transform: translate3d(0, 10px, 0); }
  90% {
    transform: translate3d(0, -5px, 0); }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes _3uwvfXIdEZC_ZSHOjie2gy {
  20% {
    transform: translate3d(0, -10px, 0); }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }

@keyframes _3oFiNitG1PcQh3nJjg7r1g {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }
  75% {
    transform: translate3d(0, -10px, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  to {
    transform: none; } }

@keyframes _1Xg-OQsYqfX3Gmll8-Xalb {
  20% {
    transform: translate3d(0, 10px, 0); }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); } }

._1WAKEQICZDFsPWijfe2IBw, ._36hEMkrHEJ6h6kq8tGl8dY {
  animation-name: _23GrEFb0uLdkUnyxJ9kGIj; }

._29ORpOnBW-Tl4SR0xYQL5O, ._1XFN9dKD6JR7eeYcE5b_AC {
  animation-name: O1sfEaZq-EkVorxkvPJ1y; }

.kJAPJvFLjHEQT_z6LzRgd {
  animation-name: _3oFiNitG1PcQh3nJjg7r1g; }

._2FfYoc1ikNVsc5BfXNExN5 {
  animation-name: _3sVYrLHUBMKp-pTv3TM1db; }

._298l8S5svr2wU7-iKp7u9Q, ._3eVu-kqkDlbeQrmto8BqeH {
  animation-name: _3wtKWyxI3iQJMOo9zTmJmI; }

._1jqmePIaoIZGBUXCBUbX2b, ._222tVJKXfzlVPnNSVuRGWS {
  animation-name: _2jjnHUox5R6uqOMDhLicyi; }

._2W-CzoqjevfH-FaiDv-e_B {
  animation-name: _3uwvfXIdEZC_ZSHOjie2gy; }

._3g1Tw3IXI15E-WggjxHDfK {
  animation-name: _1Xg-OQsYqfX3Gmll8-Xalb; }

@keyframes A6912zYeNFZEqLXX7sDbt {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@keyframes FmQ202TsUJ8UcRAKyrw_v {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }

._3q7jhNUD4o8wqdOW-ZJfhL {
  animation-name: A6912zYeNFZEqLXX7sDbt; }

.dzHw2tZJUWC3AO2ckPmFf {
  animation-name: FmQ202TsUJ8UcRAKyrw_v; }

@keyframes _9oEQo9waDtWdSPZ7hhlxo {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    transform: perspective(400px); } }

@keyframes _2NUNXaKzGM2uvaiGxItPBM {
  from {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }

.owWc85oI6GAYKAiccYXD3 {
  animation-name: _9oEQo9waDtWdSPZ7hhlxo; }

._1WGgXhK_HWMSVqzvgwIwnu {
  animation-name: _2NUNXaKzGM2uvaiGxItPBM; }

@keyframes _3gyvIqRQybv3qZ4ogJCXvV {
  from {
    transform: translate3d(110%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes _1nttuHoy4zTDOR0BtCTeQg {
  from {
    transform: translate3d(-110%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes _26Uop-nVf3t8fBKbUteg2L {
  from {
    transform: translate3d(0, 110%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes _3ui9a6aXIR_Fsp6MV1g8zx {
  from {
    transform: translate3d(0, -110%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes _2WKgN5P44dwL2qhs_FjLVu {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(110%, 0, 0); } }

@keyframes _3N2JXm-ZM7HvWFTNAPIvhe {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(-110%, 0, 0); } }

@keyframes _1Gtfo6hsUN2zPHpNeY5bBn {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, 110%, 0); } }

@keyframes _2nvIfIiyo1wPeweFdXGMj6 {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, -110%, 0); } }

.MNOolO3F3ZBYMWPmCU_7_, .a3zY68xTwXrP6s_QgurM1 {
  animation-name: _1nttuHoy4zTDOR0BtCTeQg; }

._3dmQ2jbHt-cvu2wQDYcWGg, ._2ozYHqCAZQRd_XVfcETMLU {
  animation-name: _3gyvIqRQybv3qZ4ogJCXvV; }

._1jok2wV8Bd8kjdfRSy9yKp {
  animation-name: _3ui9a6aXIR_Fsp6MV1g8zx; }

._1qJZPZt3Qozi7YtCT9whPR {
  animation-name: _26Uop-nVf3t8fBKbUteg2L; }

.hmUk1ZCSYaop_hJq11Bei, .qXGrPUfn3nLq7pvka_y6H {
  animation-name: _3N2JXm-ZM7HvWFTNAPIvhe; }

.yuY7wmxOhExAc_OkFRDr9, ._12k11MEl0GI0FCGjtyqUyK {
  animation-name: _2WKgN5P44dwL2qhs_FjLVu; }

._2uBDfa9Kh_CC3p7X3LDeyy {
  animation-name: _1Gtfo6hsUN2zPHpNeY5bBn; }

._5G9RPZCVlwaflBeSXrB0X {
  animation-name: _2nvIfIiyo1wPeweFdXGMj6; }body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
  }
  
  a {
    color: #00bcd4;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.4s;
  }
  
  a:hover {
    color: #1976d2;
  }
  
  .nxs2VLgpr6TooCQtvwvgp {
    text-align: center;
  }
  
  .ZAyI_iF81UMATnAtqTY_V {
    padding: 10px 15px;
    margin-bottom: 50px;
  }
  ._13Hj4d888rJhd-m3e66F8n::after {
    content: '';
    display: block;
    clear: both;
  }
  
  ._39tesYl7bdvUudR3xgJRPt {
    float: left;
    font-size: 1.5em;
  }
  
  ._29XXsgOaFCkujjpK9cBYVy {
    float: right;
  }
  
  ._13Hj4d888rJhd-m3e66F8n a,
  ._1JUpDolfBCt38rrJSHKI3- a {
    margin: 0 8px;
  }
  
  ._2XXvR6YQHmIwiXOf22VsNN {
    margin: 0 auto;
    text-align: center;
    width: 700px;
  }
  
  ._3NmavYw8URwiwQuvoDMtqB {
    padding: 16px;
  }
  
  ._33DiS_RoA3nxuXkSNSKE2N, ._3cYpwe9FBR3fpHaKbBCZql {
    padding: 16px;
  }
  
  ._14Y7hRf-Sl3ZV_iJFJ7rYa {
    padding: 0 16px;
    color: tomato;
  }
  
  ._2qgposqJcplxywkxFiNhXg {
    padding: 0 16px;
    color: green;
  }._26_ffcZdS7Wk37P8yLXx5 {
  display: flex;
  justify-content: center;
}

h1 {
  padding: 0;
  margin: 0;
  font-weight: 700;
  color: #757575;
}

#_1npauGdN_vD3L68v6yVpML {
  font-weight: 300;
}

#_1npauGdN_vD3L68v6yVpML a {
  text-decoration: none;
  color: inherit;
}

._3NZESurO5GmgM_ZyBEfue8 {
  min-height: 50px;
}
#_3YyaG5lm9sOLMOOKZdmc9r {
  width: 100%;
  display: flex;
  justify-content: center;
}

._3GHlYma_OMRl0xTARKwgA9 {
  width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

._1G-MpkfGMS_L4RNcOdhspu {
  font-size: 2.5em;
  color: #2196F3;
}

._2Ak7y6F6eBgcZWMpPIRczz {
  color: #64B5F6;
}

#mYZ-MY_kBAUD36Fy0waBk {
  margin-right: 48px;
}

#_24GaOH6_tFxC1Qby5xAXbZ {
  padding: 0 48px;
  border-left: 1px solid #DAE1E9;
  border-right: 1px solid #DAE1E9;
}

#_1e4zq-09h3XLAO2w3oNGo- {
  margin-left: 48px;
}
.-V6gda8f3i0f0h0yUib92 {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  padding: 5px;
  border-radius: 4px;
  background-color: #2196F3;
  color: white;
}

.-V6gda8f3i0f0h0yUib92 .SlLelZU3dbmGcLAv2PnlR {
  font-weight: 700;
}
._1HYLHNphxUfG2swMbLhmZx {
  padding: 8px;
}
._3gO_Q-T95H37KsVUsYj-IC {
  stroke-width: 3;
  fill: none;
}

.cJs7-EZ8BzX95c3Jk2HAk {
  stroke: #bdc3c7;
}

._5sOv8Ntx5g-FgcYTEGsmH {
  fill: #fff;
  stroke-width: 2;
}

._3lkUq95vJi2JE0v8jKtuCu {
  padding: 8px;
  fill: #64B5F6;
  stroke: none;
  opacity: .4;
}

.JY9E63Ec5CClsTE7xXRAU {
 fill: #64B5F6;
 font-weight: 700;
}

._3PR1kA6P1CiF7XIheKofPA {
  stroke: #7D95B6;
  stroke-width: 1;
}

/*# sourceMappingURL=style.css.map*/